* {
    text-align: center;
}

footer {
    border-top: 0.1rem solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.boton {
    border-radius: 1rem;
    width: 6rem;
    margin-bottom: 0.5rem;
}

.boton:hover {
    background-color: gray;
    color: white;
}

body {
    background-color: lightgray;
}

h3 {
    margin-top: 3rem;
}

.none {
    width: 50%;
    list-style-type: none;
    background-color: lightgray;
    margin: 0px auto;
}

li {
    border: 1.5px solid black;
    margin: 0px auto;
    list-style: none;
}

.none > li {
    display: block;
    position: relative;
    margin: 0.5% 2%;
    margin-top: 1rem;
}

.none > li > * {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    color: white;
    padding-bottom: 3%;
    z-index: 3;
    opacity: 100%;
    font-size: large;
}

.none > li:hover {
    background-color: white;
}

.none > li:hover > * {
    visibility: visible;
}

.square {
    background-color: gray;
    list-style: none;
}

.square > li > form > button {
    background: none;
    border: none;
    font-size: medium;
    color: white;
    text-shadow: -1px -1px 1px black, 1px 1px black, -1px 1px black, 1px -1px black;
}

.square > li {
    margin-right: 2.5rem;
    margin-top: 0.5rem;
}

.square > li:hover {
    background-color: rgb(156, 156, 156);
}

#inicio_sesion {
    border-bottom: 0.5rem double black;
    padding-bottom: 1.5rem;
}